---
import Loading from "@Components/Loading/Loading";
import PrivateLayout from "@Layouts/PrivateLayout.astro";
---

<PrivateLayout title="Template" description="Template">
    <main class="mt-5 px-5 f-row g-3">
        <a class="btn btn-blue br-6 d-flex w-max h-max" href="Shuffle">Shuffle Game</a>
        <a class="btn btn-blue br-6 d-flex w-max h-max" href="Wordle">Wordle Game</a>
        <a class="btn btn-blue br-6 d-flex w-max h-max" href="Products">Products</a>
        <div class="br-10">
            <Loading  styleParent={{scale: '0.4'}}/>
        </div>
    </main>
</PrivateLayout>

<style is:inline>
    .br-10{
        height: 420px;
        width: 355px;
    }
</style>