---
import '@Apps/App.css';
import CRUD from "@Apps/CRUD.astro";
import PrivateLayout from "@Layouts/PrivateLayout.astro";

---

<PrivateLayout title="Template" description="Template">
	<main class="f-col f-justify-center text-center">
		<CRUD />
	</main>
</PrivateLayout>
